/* CSS for overlay */
.overlay-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: block;
  cursor: wait;
}

/* CSS for the loading spinner */
.spinner-loading {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  border: 3px solid rgba(255, 235, 14, 0.925);
  border-radius: 50%;
  border-top: 3px solid #0074ba; /* Blue color for the spinner */
  width: 30px;
  height: 30px;
  animation: spin 0.7s linear infinite;
}

/* Keyframe animation for the spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
